body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background: #efe8d6;
}
/* added styling to the pokemon list */
.pokemon-list__button {
    border: 2px #3d0018 solid;
    font-size: 16px;
    margin: 5px;
}

.pokemon-list {
    list-style-type: none;
  }