body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background: #efe8d6;
}
/* added styling to the pokemon list */
.pokemon-list__button {
    border: 2px #3d0018 solid;
    font-size: 16px;
    margin: 5px;
}

.pokemon-list {
    list-style-type: none;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

/* the id of the modal container when it's not clicked/visible */
.pokemon-modal {
    display: none;
}

/* the styling for the modal container when it's visible */
.pokemon-modal.is-visible {
    position: fixed;
    padding: 20px; 
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);

    /* to show it above other content */
    z-index: 999;

    /* to allow scrolling if the screen isn't hight enough */
    overflow: auto;

    /* to center the modal */
    display: grid; 
    text-align: center; 
}

/* this is the modal class which will be created later in JS */
.pokemon-details {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: center;
}

/* styling for the modal's close button */
.pokemon-details-close {
    float: right;
    -webkit-appearance: none;
    border: 0;
    background: none;
    color: #777;
    text-decoration: underline;
}

.pokemon-details h1 {
    margin-top: 0;
}

.pokemon-details p {
    margin-bottom: 0;
}