body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background: #efe8d6;
}
/* added styling to the pokemon list */
.pokemon-list__button {
    border: 2px #3d0018 solid;
    font-size: 16px;
    margin: 5px;
}

.pokemon-list {
    list-style-type: none;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

/* added styling to the modal */
.modal-content {
    background-color: #fff;
}

.modal-title {
    font-size: 35px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-height {
    font-size: 18px;
    margin-top: 20px;
}

.pokemon-image {
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 20px;
}